/* Replace the default Bootstrap styles */


* {
  font-family: Futura, 'Lora';
  font-style: normal;
}

body {
    
}


h1 {
  color: #fff;
  font-size: 3em;
  margin-bottom:40px;
}

  @media(max-width: 480px) {
    h1 {
      font-size: 2.2em;
      margin-top: 30px;
    }
  }

h2 {
  color: #fff;
  font-size: 2.5em;
  line-height: 1.3em;
  margin-bottom: 30px;
}

  @media(max-width: 480px) {
    h2 {
      font-size: 2.2em;
      margin-top: 30px;
    }
  }

h3 {
  color: #fff;
  font-size: 0.7em;
  font-weight: bold;
  opacity: 0.5;
  letter-spacing: 1px;
  margin-bottom: 40px;
  text-align: center;

}

p {
  font-size: 0.8em;
  color:#fff;
  font-weight: 300; 
}

#header {
  background: #FEC0AA;
}
  
  a.navbar-brand {
    text-align: left;
    margin-left: 15px;
  }

  .navbar-toggler {
    border: 0px;
  }

    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(236,78,32, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
    }

  .nav-item {

  }

    .nav-link {
      color: #EC4E20 !important;
      text-decoration: underline;
      text-align: right;
    }

.modal-content {
  background:#FEC0AA;
}

  .modal-body {
    padding-bottom: 50px;
    padding-top: 50px;
  }

  .modal-header {
    border: 0;
  }

  .form-group button {
    width: 100%;
  }

#splash {
  background:#FEC0AA;
  /* min-height: 576px; */
  padding-top: 50px;
}

  #splash * {
    text-align: center; 
  }

  .lead {
    font-size: 15px;
  }

#intro {
  background: #EC4E20;
  padding-top: 50px;
}

#app-desc {
  background: #424B54; 
  padding-top: 50px;
}

#research {
  background: #FEC0AA;
  /* min-height: 386px; */
  padding-top: 100px;
  padding-bottom: 100px;
}

  .uni-logo {
    margin-bottom:20px;
  }

#improvements {
  background: #EC4E20;
  padding-top: 100px;
  padding-bottom: 100px;
}

  .emoji-icon {
    font-size: 40px;
    margin-bottom:0px;
  }

#hiring {
  background: #EC4E20;
  /* min-height: 775px; */
  padding-top: 50px;
  padding-bottom: 50px;
}

  #hiring p, #hiring h2 {
    text-align: left;
  }

  #job-desc {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .btn {
    text-transform: uppercase;
    font-size: 0.65em;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 20px;
    padding: 10px 40px 10px 40px;
    margin-top: 20px;
    margin-bottom: 40px;
  }

    .btn-primary {
      background: #EC4E20;
      border: #EC4E20;
    }

    .btn-secondary {
      background: #424B54;
      border: #424B54;
    }

    .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
      background-color: #D14219;
      border-color: #D14219; 
    }

    .btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
      background-color: #333A41;
      border-color: #333A41; 
    }

#footer {
  background:#424B54;
  /* min-height: 345px; */
  padding-top: 30px;
  padding-bottom: 100px;
  text-align: center;
}

.footer-text {
   opacity: 0.2;
}